[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim"]
	path = vim
	url = https://joelkuiper@github.com/joelkuiper/vimified.git 
[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "themes/replace-colorthemes"]
	path = themes/replace-colorthemes
	url = https://github.com/emacs-jp/replace-colorthemes.git
